[submodule "Framework"]
	path = Framework
	url = git@github.com:smeyel/Framework.git
[submodule "ImageProcessing"]
	path = ImageProcessing
	url = git@github.com:smeyel/ImageProcessing.git
[submodule "Tracking"]
	path = Tracking
	url = git@github.com:smeyel/Tracking.git
